html {
    background-color: white;
    
}


/* box stylings  */

#wrapper {
    display: grid;
    width: 1000px;
    margin: auto;
    
    /* grid-template-columns: repeat(10, 1fr); */
    grid-template-columns: repeat(10, 5rem);
    /* grid-auto-rows: minmax(100px, auto); */
    grid-template-rows: 4rem 2rem 16rem 4rem 6rem 2rem;
    grid-template-areas: 
    ". hd hd hd hd hd hd hd hd ."
    " . . . . . . . . . ."
    " . fiction fiction . blog blog . other other . "
    " . . . . . . . . . ."
    "bt bt bt bt bt bt bt bt bt bt"
    " . . . . . . . . . ."

}

.header {
    grid-area:hd;
    background-color:white;
    /* justify-content: center;
    display: flex;
    align-items: center; */
    /* border-bottom: 3px solid black; */
    /* border-radius: 5px; */
    overflow:hidden;
    text-align:center;
    /* display:inline-block; */
    padding-top: 1.75%;
    
    

}


.lump {
    /* justify-content: center;
    display: flex;
    align-items: center; */
    border-radius: 10px;
    /* display:inline-block; */
    text-align: center;
    margin:5px;
    border:4px solid black;
    overflow:hidden;
    position:relative;
    top:0px;
    
}



#skull, #book, #plant {
    /* width:160px;
    height:110px; */
    margin:5px;
    padding:5px;
    position:absolute;
    top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
}

#fiction-container {
  grid-area:fiction;
}

#blog-container {
    grid-area:blog;
}

#other-container {
    grid-area: other;
}

#bottom-banner {
    grid-area: bt;
    padding-bottom: 20px;
    
    height: 400px;

    
}

#bottom-content {
height: 300px;
width: 80%;
border:4px solid black;
border-radius: 10px;
margin:auto;
background-image: url("./images/birds.png");
display: flex;

}
.button {
    
    background-color: black;
    color:white;
    Font-Family: 'Cinzel', Cursive;
    /* border-radius:5px; */
    position:absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, 370%);
  width:80%;
  border: 2px solid white;
}

/* #right-content, #left-content { */
    /* height: 260px;
    width: 300px;
    background-color:white;
    /* z-index: 99; */
    /* margin: 5px;
    padding: 5px;  */
/* } */

/* text stylings */

#title {
    Font-Family: 'Fauna One', Serif;
    font-size:1.5rem;
    color:black;
    overflow: hidden;
    
}

#logo {
    Font-Family: 'Cinzel', Cursive;
    font-size: 1rem;
    color:black;
    overflow: hidden;
}


/* all transition effects */

.lump:hover {
    background-color: rgba(247, 48, 48, 10%);
    cursor:pointer;
    top:-8px;
}

.lump {
     transition: color 5s;
     transition: top ease 1.25s;
} 